.bold-label {
  -fx-font-family: 'Arial Black', 'Arial Bold', sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 15px;
  -fx-text-fill: #532200;
}

.small-label {
  -fx-font-family: 'Arial Black', 'Arial Bold', sans-serif;
  -fx-font-weight: bold;
  -fx-text-fill: #532200;
}


.left-side{
  -fx-background-color: #EFCFA0;
}
.scroll-pane{
  -fx-background-color: #EFCFA0;
}
.root{
  -fx-background-color: #EFCFA0;
}



.button, .toggle-switch {
  /*-fx-padding: 10px 20px;*/
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-cursor: hand;
  -fx-background-color: #E1A140;
  -fx-text-fill: white;
}

.button:hover {
  -fx-background-color: #c89235;
  /*-fx-scale-x: 1.05;*/
  /*-fx-scale-y: 1.05;*/
}


.radio-button {
  -fx-mark-color: #E1A140; /* Golden toggle mark */
}

.slider .thumb {
  -fx-background-color: #E1A140; /* Slider thumb in gold */
}
.slider .track {
  -fx-background-color: #914110; /* Golden track */
}


.separator {
  -fx-background-color: #E1A140; /* Golden separator for visual structure */
}

.toggle-switch:selected {
  -fx-background-color: #914110;
}



.show-button{
  -fx-font-size: 25px;
  -fx-font-weight: bold;
  -fx-background-radius: 19;
  -fx-border-radius: 19;
  -fx-border-width: 3;
  -fx-border-color: #fff;
  -fx-pref-width: 300px;
  -fx-pref-height: 50px;
  -fx-padding: 5.5px 12px; /* Adjust padding to account for the border width */
}
.show-button:hover{
  -fx-font-weight: bold;
  -fx-background-color: #fff;
  -fx-background-radius: 19;
  -fx-font-size: 25px;
  -fx-text-fill: #E1A140;
  -fx-border-color: #E1A140;
  -fx-border-width: 3;
  -fx-border-radius: 19;
  -fx-padding: 5.5px 12px; /* Adjust padding to account for the border width */

}

.show-button:pressed{
  -fx-font-weight: bold;
  -fx-background-radius: 19;
  -fx-font-size: 25px;
  -fx-background-color: #f0f0f0;
  -fx-text-fill: #E1A140;
  -fx-border-color: #E1A140;
  -fx-border-width: 3;
  -fx-border-radius: 19;
  -fx-padding: 5.5px 12px; /* Adjust padding to account for the border width */
}

.heatmap-checkbox {
  -fx-font-size: 18px;
  -fx-padding: 10px;
  -fx-background-color: #4A2E19;
  -fx-text-fill: #E1A140;
  -fx-pref-width: 320px;
  -fx-border-color: #E1A140;
}
.heatmap-checkbox:hover {
  -fx-background-color: #E1A140;
  -fx-text-fill: #4A2E19;
  -fx-border-color: #4A2E19;
}
.heatmap-checkbox:selected .box .mark{
  -fx-background-color: #E1A140;
}


.option-button{
  -fx-background-color: #4A2E19;
  -fx-text-fill: #E1A140;
  -fx-font-size: 16px;
  -fx-pref-width: 320px;
  -fx-pref-height: 50px;
  -fx-border-color: #E1A140;
}
.option-button:hover{
  -fx-background-color: #E1A140;
  -fx-text-fill: #4A2E19;
  -fx-border-color: #4A2E19;
}
.iterativeTransformation-button{
  -fx-pref-height: 20px;
  -fx-font-size: 14.5px;
}
.iterativeTransformation-button:pressed{
  -fx-background-color: #ad7e34;
  -fx-text-fill: #4A2E19;
  -fx-border-color: #4A2E19;
}